page-profile {
    #ion-icon{
        color: #4c882e;
        font-size: 18px;
    }
    .profile{
        margin-top:3px;
        font-size: 15px
    }
    .custom-popover {
        width: 90%;
    }
    .row{
        margin-top: 20px;
    }
}
