<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar color="toolbar">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <!-- <div class="image">
          <img src="https://image.freepik.com/free-vector/blood-donation-logo_23-2147506524.jpg"/>
      </div> -->

      <button menuClose ion-item (click)="openPage('HomePage')">
        <ion-icon id="ion-icon" name="home" item-start></ion-icon>
        <span id="fontMenu">Home</span>
      </button>

      <!-- <button menuClose ion-item (click)="map()">
        <ion-icon name="map" item-start></ion-icon>
        Map
      </button> -->

      <button menuClose ion-item (click)="openPage('RequestBloodPage')">
        <ion-icon id="ion-icon" name="paper-plane" item-start></ion-icon>
        <span id="fontMenu">Request Blood</span>
      </button>

      <button menuClose ion-item (click)="openPage('SeeAllRequestPage')">
        <ion-icon id="ion-icon" name="list-box" item-start></ion-icon>
        <span id="fontMenu">See All Requests</span>
      </button>

      <button menuClose ion-item (click)="openPage('GuidelinesPage')">
        <ion-icon id="ion-icon" name="book" item-start></ion-icon>
        <span id="fontMenu">GuideLines</span>
      </button>

      <button menuClose ion-item (click)="openPage('AboutUsPage')">
        <ion-icon id="ion-icon" name="ribbon" item-start></ion-icon>
        <span id="fontMenu">About Us</span>
      </button>

      <button menuClose ion-item (click)="openPage('ContactUsPage')">
        <ion-icon id="ion-icon" name="mail" item-start></ion-icon>
        <span id="fontMenu">Contact Us</span>
      </button>

      <ng-template #signup>
        <button menuClose ion-item (click)="openPage('SignUpPage')">
          <ion-icon id="ion-icon" name="paper" item-start></ion-icon>
          <span id="fontMenu">Sign Up</span>
        </button>
  
        <button menuClose ion-item (click)=" logout('LoginPage')">
          <ion-icon id="ion-icon" name="log-in" item-start></ion-icon>
          <span id="fontMenu">Sign In</span>
        </button>
      </ng-template>


      <span *ngIf="authService.user$ | async as user; else signup">
        <button *ngIf="authService.LoggingUser$ | async as loggingUser" menuClose ion-item (click)="openPage('ProfilePage')">
          <ion-icon id="ion-icon" name="person" item-start></ion-icon>
          <span id="fontMenu">{{ loggingUser.Name }}</span> 
        </button>

        <button menuClose ion-item (click)=" logout('HomePage')">
          <ion-icon id="ion-icon" name="log-out" item-start></ion-icon>
          <span id="fontMenu">Sign Out</span>
        </button>
      </span>


    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>