<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>


      <button menuClose ion-item (click)="openPage('HomePage')">
        <ion-icon name="home" item-start></ion-icon>
        Home
      </button>

      <button menuClose ion-item (click)="openPage('RequestBloodPage')">
        <ion-icon name="paper-plane" item-start></ion-icon>
        Request Blood
      </button>

      <button menuClose ion-item (click)="openPage('SeeAllRequestPage')">
        <ion-icon name="list-box" item-start></ion-icon>
        See All Requests
      </button>

      <button menuClose ion-item (click)="openPage('GuidelinesPage')">
        <ion-icon name="book" item-start></ion-icon>
        GuideLines
      </button>

      <button menuClose ion-item (click)="openPage('AboutUsPage')">
        <ion-icon name="ribbon" item-start></ion-icon>
        About Us
      </button>

      <button menuClose ion-item (click)="openPage('ContactUsPage')">
        <ion-icon name="mail" item-start></ion-icon>
        Contact Us
      </button>

      <ng-template #signup>
        <button menuClose ion-item (click)="openPage('SignUpPage')">
          <ion-icon name="paper" item-start></ion-icon>
          Sign Up
        </button>
  
        <button menuClose ion-item (click)=" logout('LoginPage')">
          <ion-icon name="log-in" item-start></ion-icon>
          Sign In
        </button>
      </ng-template>


      <span *ngIf="authService.user$ | async as user; else signup">
        <button *ngIf="authService.LoggingUser$ | async as loggingUser" menuClose ion-item (click)="openPage('LoginPage')">
          <ion-icon name="person" item-start></ion-icon>
          {{ loggingUser.Name }}
        </button>

        <button menuClose ion-item (click)=" logout('HomePage')">
          <ion-icon name="log-out" item-start></ion-icon>
          Sign Out
        </button>
      </span>


    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>