<h5 class="quote">“Donate blood and be the reason of smile to many faces.”</h5>

<form [formGroup]="searchForm">
    <ion-row>
      <ion-col>
        <ion-item>
            <h4 style="font-weight: 600;font-size: 20px;">Search for Blood Doner</h4>
        </ion-item>
      </ion-col>
    </ion-row>

  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label floating>Blood Group</ion-label>
        <ion-select formControlName="Pbloodgroup">
          <ion-option *ngFor="let group of bloodGroups" [value]="group.value" class="form-control">
            {{ group.value }}
          </ion-option>
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label floating>City</ion-label>
        <ion-select formControlName="Pcity">
          <ion-option type="button" *ngFor="let city of cities" [value]="city.value" class="form-control">
            {{ city.value }}
          </ion-option>
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>
</form>


<div *ngIf="requiredDoners.length !=0" style="margin-top: 20px;">
  <h4 style="padding:12px;background:#c8c2c2;border: 1px solid #c8c2c2;">Search Results</h4>
  <ion-list>
    <ion-item *ngFor="let user of requiredDoners">
      <h2>{{ user.Name }}</h2>
      <p>{{ user.City}}</p>
      <button ion-button clear item-end (click)="open(user)">View</button>
    </ion-item>
  </ion-list>
</div>