<!--
  Generated template for the ModalsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="toolbar">
    <ion-title> Details </ion-title>
    <ion-buttons end>
      <button ion-button (click)="closeModal()">close</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <!-- for searching doners -->
  <ion-card *ngIf="userInfo">
    <ion-card-content>
        <ion-list>
            <ion-item>
              <ion-avatar item-start>
                <ion-icon name="person" item-start></ion-icon>
              </ion-avatar>
              <h4>{{ userInfo.Name}}</h4>
            </ion-item>
    
            <ion-item>
              <ion-avatar item-start>
                <ion-icon name="information-circle" item-start></ion-icon>
              </ion-avatar>
              <h4>{{ userInfo.BloodGroup }}</h4>
            </ion-item>
    
            <ion-item>
              <ion-avatar item-start>
                <ion-icon name="pin" item-start></ion-icon>
              </ion-avatar>
              <h4>{{ userInfo.City }}</h4>
            </ion-item>
    
            <ion-item>
              <ion-avatar item-start>
                <ion-icon name="mail" item-start></ion-icon>
              </ion-avatar>
              <h4>{{ userInfo.Email }}</h4>
            </ion-item>
    
            <ion-item>
              <ion-avatar item-start>
                <ion-icon name="call" item-start></ion-icon>
              </ion-avatar>
              <h4>{{ userInfo.Phone }}</h4>
            </ion-item>
          </ion-list>
  
          <ion-grid>
            <ion-row>
                <ion-col>
                        <button ion-button block (click)="sendEmailAsNeedy( userInfo.Email ,userInfo.BloodGroup ,  userInfo.Name)">
                          <ion-icon name="mail"></ion-icon>	
                          &nbsp; Send Mail
                        </button>
                </ion-col>
                <ion-col>
                        <button ion-button block (click)="call(userInfo.Phone)">
                          <ion-icon name="call"></ion-icon>	
                          &nbsp; Call Now
                        </button>
                </ion-col>
            </ion-row>
          </ion-grid>
    </ion-card-content>
  </ion-card>
  
  <!-- <ion-card *ngIf="userInfo">
    <ion-card-content>
      <ion-list>
        <button ion-item>
          <ion-icon name="person" item-start></ion-icon>
          {{ userInfo.Name}}
        </button>

        <button ion-item>
          <ion-icon name="information-circle" item-start></ion-icon>
          {{ userInfo.BloodGroup }}
        </button>

        <button ion-item>
          <ion-icon name="pin" item-start></ion-icon>
          {{ userInfo.City }}
        </button>

        <button ion-item (click)="sendEmailAsNeedy( userInfo.Email ,userInfo.BloodGroup ,  userInfo.Name)">
          <ion-icon name="mail" item-start></ion-icon>
          {{ userInfo.Email }}
        </button>
        <button ion-item (click)="call(userInfo.Phone)">
          <ion-icon name="call" item-start></ion-icon>
          {{ userInfo.Phone }}
        </button>
      </ion-list>
    </ion-card-content>
  </ion-card> -->

  <!-- for requests -->
  <ion-card *ngIf="request">
    <ion-card-content>
      <ion-list>

        <ion-item>
          <ion-card-title class="title">Patient Details</ion-card-title>
          <hr class="hr">
          <button ion-item>
            <ion-icon name="person" item-start></ion-icon>
            {{ request.Pname}}
          </button>

          <button ion-item>
            <ion-icon name="information-circle" item-start></ion-icon>
            {{ request.Pbloodgroup }}
          </button>

          <button ion-item>
            <ion-icon name="pin" item-start></ion-icon>
            {{ request.Pcity }}
          </button>
        </ion-item>

        <ion-item>
          <ion-card-title class="title">Contact Details</ion-card-title>
          <hr class="hr">
          <button ion-item>
            <ion-icon name="person" item-start></ion-icon>
            {{request.Cname}}
          </button>
          <button ion-item (click)="call(request.Ccontact)">
            <ion-icon name="call" item-start></ion-icon>
            {{ request.Ccontact }}
          </button>
          <button ion-item (click)="sendEmailAsDoner(request.Cemail, request.Pbloodgroup, request.Cname)">
            <ion-icon name="mail" item-start></ion-icon>
            {{ request.Cemail }}
          </button>
          <button ion-item>
            <ion-icon name="calendar" item-start></ion-icon>
            {{ request.Cdate | date}}
          </button>
        </ion-item>

      </ion-list>
    </ion-card-content>
  </ion-card>

  <!-- For Guidelines -->
  <!-- Non Eligibilities  -->
  <div *ngIf="nonEligible != ''">
    <ion-card class="noneligible" *ngFor="let item of nonEligible">
      <ion-card-content>
        {{item}}
      </ion-card-content>
    </ion-card>
  </div>

  <!-- Preperation -->
  <div *ngIf="preperation != ''">
    <ion-card class="eligible" *ngFor="let item of preperation">
      <ion-card-content>
        {{item}}
      </ion-card-content>
    </ion-card>
  </div>

  <!-- Post Donation Care -->
  <div *ngIf="postcare != ''">
    <ion-card class="care" *ngFor="let item of postcare">
      <ion-card-content>
        {{item}}
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>