<h4 style="font-size:16px;color:#379707;text-align: center">“There is a hope of life to someone in your blood donation.”</h4>
<form [formGroup]="loginForm" (ngSubmit)="login()">

    <ion-item>
        <ion-label floating>Email</ion-label>
        <ion-input class="form-control" formControlName="Email" type="email"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input class="form-control" formControlName="Password" type="password"></ion-input>
    </ion-item>

    <button type="submit"  [disabled]="loginForm.status == 'INVALID'" ion-button block>Login</button>
    <button type="button"ion-button clear [disabled]="!loginForm.value.Email" (click)="forgot()">forgot password ?</button>
</form>
